{% extends 'user/form-base.html' %}
{% load static %}

{% block form_content %}

<div class="user-form-card">
    <div class="user-form-title">
        <h2>worried?</h2>
        <p>No Problem! Just Follow The Simple Way</p>
    </div>
    <form class="user-form">
        <div class="form-group"><input type="email" class="form-control" placeholder="Enter your email"></div>
        <div class="form-button"><button type="submit">get reset link</button></div>
    </form>
</div>
<div class="user-form-remind">
    <p>Go Back To<a href="{% url 'user:login' %}">login here</a></p>
</div>

{% endblock form_content %}