{% extends 'main/origin.html' %}
{% load static %}

{% block origin_content %}

<div class="backdrop"></div><a class="backtop fas fa-arrow-up" href=""></a>
<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-5">
        <div class="header-top-welcome">
          <p>Welcome to Greeny, Your Dream Online Store!</p>
        </div>
      </div>
      <div class="col-md-5 col-lg-3">
      </div>
      <div class="col-md-7 col-lg-4">
        <ul class="header-top-list">
          <li><a href="{% url 'main:offer' %}">offers</a></li>
          <li><a href="{% url 'main:faq' %}">need help</a></li>
          <li><a href="{% url 'main:contact' %}">contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header class="header-part">
  <div class="container">
    <div class="header-content">
      <div class="header-media-group"><button class="header-user"><img src="{% static 'main/images/user.png' %}"
            alt="user"></button><a href="{% url 'main:home' %}"><img src="{% static 'main/images/logo.png' %}" alt="logo"></a><button
          class="header-src"><i class="fas fa-search"></i></button></div><a href="{% url 'main:home' %}"
        class="header-logo"><img src="{% static 'main/images/logo.png' %}" alt="logo"></a><a href="{% url 'user:login' %}" class="header-widget"
        title="My Account"><img src="{% static 'main/images/user.png' %}" alt="user"><span>Join</span></a>
      <form action="{% url 'main:search' %}" class="header-form"><input type="text" placeholder="Search anything..." name='key'><button><i
            class="fas fa-search"></i></button></form>
      <div class="header-widget-group"><a href="{% url 'main:compare' %}" class="header-widget" title="Compare List"><i
            class="fas fa-random"></i><sup>{{user.compare.all|length}}</sup></a><a href="{% url 'main:wishlist' %}" class="header-widget"
          title="Wishlist"><i class="fas fa-heart"></i><sup>{{user.wishlist.all|length}}</sup></a><button
          class="header-widget header-cart" title="Cartlist"><i
            class="fas fa-shopping-basket"></i><sup>{{user.cart.all|length}}</sup><span>total
            price<small>${{total}}</small></span></button></div>
    </div>
  </div>
</header>
<nav class="navbar-part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="navbar-content">
          <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="{% url 'main:home' %}">Home</a></li>
            <li class="navbar-item"><a class="navbar-link" href="{% url 'main:shop' %}">shop</a></li>
            <li class="navbar-item dropdown-megamenu"><a class="navbar-link dropdown-arrow"
                href="">category</a>
              <div class="megamenu">
                <div class="container megamenu-scroll">
                  <div class="row row-cols-5">
                    {% for cat in categories %}
                    <div class="col">
                      <div class="megamenu-wrap">
                        <h5 class="megamenu-title">{{cat.name}}</h5>
                        <ul class="megamenu-list">
                          {% for product in cat.product_set.all %}
                          <li><a href={{product.get_absolute_url}}>{{product.name}}</a></li>
                          {% empty %}
                          <strong>No products in this category</strong>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    {% empty %}
                    <strong>No product categories exist</strong>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </li>
            <li class="navbar-item"><a class="navbar-link" href="{% url 'blog:list' %}">blogs</a></li>
          </ul>
          <div class="navbar-info-group">
            <div class="navbar-info"><i class="icofont-ui-touch-phone"></i>
              <p><small>call us</small><span>{{greeny.phone}}</span></p>
            </div>
            <div class="navbar-info"><i class="icofont-ui-email"></i>
              <p><small>email us</small><span>{{greeny.email}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<aside class="category-sidebar" aria-label='catogory-sidebar'>
  <div class="category-header">
    <h4 class="category-title"><i class="fas fa-align-left"></i><span>categories</span></h4><button
      class="category-close"><i class="icofont-close"></i></button>
  </div>
  <ul class="category-list">
    {% for cat in categories %}
    <li class="category-item"><a class="category-link dropdown-link" href=""><i
          class="flaticon-vegetable"></i><span>{{cat.name}}</span></a>
      <ul class="dropdown-list">
        {% for product in cat.product_set.all %}
        <li><a href="{{product.get_absolute_url}}">{{product.name}}</a></li>
        {% empty %}
        <strong>No products in this category</strong>
        {% endfor %}
      </ul>
    </li>
    {% empty %}
    <strong>No product categories exist</strong>
    {% endfor %}
  </ul>
  <div class="category-footer">
    <p>All Rights Reserved by <a href="{{greeny.link}}">{{greeny.owner}}</a></p>
  </div>
</aside>
<aside class="cart-sidebar" aria-label="cart-sidebar"> 
  <div class="cart-header">
    <div class="cart-total"><i class="fas fa-shopping-basket"></i><span>total item ({{user.cart.all|length}})</span></div><button
      class="cart-close"><i class="icofont-close"></i></button>
  </div>
  <ul class="cart-list">
    {% for item in user.cart.all %}
    <li class="cart-item">
      <div class="cart-media"><a href="{{item.product.get_absolute_url}}"><img src="{{item.product.image.url}}" alt="product"></a><button
          class="cart-delete"><i class="far fa-trash-alt"></i></button></div>
      <div class="cart-info-group">
        <div class="cart-info">
          <h6><a href="{{item.product.get_absolute_url}}">{{item.product.name}}</a></h6>
          <p>Unit Price - ${{item.variant.price}}</p>
        </div>
        <div class="cart-action-group">
          <div class="product-action"><button class="action-minus" title="Quantity Minus"><i
                class="icofont-minus"></i></button><input class="action-input" title="Quantity Number"
              type="text" name="quantity" value="{{item.quantity}}"><button class="action-plus" title="Quantity Plus"><i
                class="icofont-plus"></i></button></div>
          <h6>${{item.cost}}</h6>
        </div>
      </div>
    </li>
    {% empty %}
    <strong>No product in your cart yet</strong>
    {% endfor %}
  </ul>
  <div class="cart-footer"><button class="coupon-btn">Do you have a coupon code?</button>
    <form class="coupon-form"><input type="text" placeholder="Enter your coupon code"><button
        type="submit"><span>apply</span></button></form><a class="cart-checkout-btn" href="{% url 'main:checkout' %}"><span
        class="checkout-label">Proceed to Checkout</span><span class="checkout-price">${{total}}</span></a>
  </div>
</aside>
<aside class="nav-sidebar" aria-label="nav-sidebar">
  <div class="nav-header"><a href="{% url 'main:home' %}"><img src="{% static 'main/images/logo.png' %}" alt="logo"></a><button class="nav-close"><i
        class="icofont-close"></i></button></div>
  <div class="nav-content">
    <div class="nav-btn"><a href="{% url 'user:login' %}" class="btn btn-inline"><i class="fa fa-unlock-alt"></i><span>Join
          Here</span></a></div>
    <ul class="nav-list">
      <li><a class="nav-link" href="{% url 'main:home' %}"><i class="icofont-home"></i>Home</a></li>
      <li><a class="nav-link" href="{% url 'main:home' %}"><i class="icofont-food-cart"></i>Shop</a></li>
      <li><a class="nav-link dropdown-link" href=""><i class="icofont-bag-alt"></i>My Account</a>
        <ul class="dropdown-list">
          <li><a href="{% url 'user:profile' %}">Profile</a></li>
          <li><a href="{% url 'main:wallet' %}">Wallet</a></li>
          <li><a href="{% url 'main:wishlist' %}">Wishlist</a></li>
          <li><a href="{% url 'main:orders' %}">Order History</a></li>
        </ul>
      </li>
      <li><a class="nav-link" href="{% url 'blog:list' %}"><i class="icofont-book-alt"></i>Blogs</a></li>
      <li><a class="nav-link" href="{% url 'main:offer' %}"><i class="icofont-sale-discount"></i>Promo Offers</a></li>
      <li><a class="nav-link" href="{% url 'main:about' %}"><i class="icofont-info-circle"></i>About us</a></li>
      <li><a class="nav-link" href="{% url 'main:faq' %}"><i class="icofont-support-faq"></i>Need Help</a></li>
      <li><a class="nav-link" href="{% url 'main:contact' %}"><i class="icofont-contacts"></i>Contact us</a></li>
      <li><a class="nav-link" href="{% url 'main:privacy' %}"><i class="icofont-warning"></i>Privacy Policy</a></li>
      <li><a class="nav-link" href=""><i class="icofont-logout"></i>logout</a></li>
    </ul>
    <div class="nav-info-group">
      <div class="nav-info"><i class="icofont-ui-touch-phone"></i>
        <p><small>call us</small><span>{{greeny.phone}}</span></p>
      </div>
      <div class="nav-info"><i class="icofont-ui-email"></i>
        <p><small>email us</small><span>{{greeny.email}}</span></p>
      </div>
    </div>
    <div class="nav-footer">
      <p>All Rights Reserved by <a href="{{greeny.link}}">{{greeny.owner}}</a></p>
    </div>
  </div>
</aside>
<div class="mobile-menu"><a href="{% url 'main:home' %}" title="Home Page"><i class="fas fa-home"></i><span>Home</span></a><button
    class="cate-btn" title="Category List"><i class="fas fa-list"></i><span>Category</span></button><button
    class="cart-btn" title="Cartlist"><i
      class="fas fa-shopping-basket"></i><span>cartlist</span><sup>{{user.cart.all|length}}</sup></button><a href="{% url 'main:wishlist' %}"
    title="Wishlist"><i class="fas fa-heart"></i><span>wishlist</span><sup>{{user.wishlist.all|length}}</sup></a><a href="{% url 'main:compare' %}"
    title="Compare List"><i class="fas fa-random"></i><span>compare</span><sup>{{user.compare.all|length}}
    </sup></a>
</div>


{% block main_content %}{% endblock main_content %}

<section class="news-part" style="background: url(static/main/images/newsletter.jpg) no-repeat center;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 col-lg-6 col-xl-7">
        <div class="news-text">
          <h2>Get 20% Discount as a Subscriber</h2>
          <p>Lorem ipsum dolor consectetur adipisicing accusantium</p>
        </div>
      </div>
      <div class="col-md-7 col-lg-6 col-xl-5">
        <form class="news-form" data-url="{% url 'main:subscribe' %}"><input type="text" class='sub-email' placeholder="Enter Your Email Address"><button onclick=subscribe()><span><i
                class="icofont-ui-email"></i>Subscribe</span></button></form>
      </div>
    </div>
  </div>
</section>
<section class="intro-part">
  <div class="container">
    <div class="row intro-content">
      <div class="col-sm-6 col-lg-3">
        <div class="intro-wrap">
          <div class="intro-icon"><i class="fas fa-truck"></i></div>
          <div class="intro-content">
            <h5>free home delivery</h5>
            <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="intro-wrap">
          <div class="intro-icon"><i class="fas fa-sync-alt"></i></div>
          <div class="intro-content">
            <h5>instant return policy</h5>
            <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="intro-wrap">
          <div class="intro-icon"><i class="fas fa-headset"></i></div>
          <div class="intro-content">
            <h5>quick support system</h5>
            <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="intro-wrap">
          <div class="intro-icon"><i class="fas fa-lock"></i></div>
          <div class="intro-content">
            <h5>secure payment way</h5>
            <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer-part">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xl-3">
        <div class="footer-widget"><a class="footer-logo" href="{% url 'main:home' %}"><img src="{% static 'main/images/logo.png' %}" alt="logo"></a>
          <p class="footer-desc">Adipisci asperiores ipsum ipsa repellat consequatur repudiandae quisquam
            assumenda dolor perspiciatis sit ipsum dolor amet.</p>
          <ul class="footer-social">
            <li><a class="icofont-facebook" href="{{greeny.facebook}}"></a></li>
            <li><a class="icofont-twitter" href="{{greeny.twitter}}"></a></li>
            <li><a class="icofont-linkedin" href="{{greeny.linkedin}}"></a></li>
            <li><a class="icofont-instagram" href="{{greeny.instagram}}"></a></li>
            <li><a class="icofont-pinterest" href="{{greeny.pinterest}}"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="footer-widget contact">
          <h3 class="footer-title">contact us</h3>
          <ul class="footer-contact">
            <li><i class="icofont-ui-email"></i>
              <p><span>{{greeny.email}}</span></p>
            </li>
            <li><i class="icofont-ui-touch-phone"></i>
              <p><span>{{greeny.phone}}</span></p>
            </li>
            <li><i class="icofont-location-pin"></i>
              <p>{{greeny.address}}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="footer-widget">
          <h3 class="footer-title">quick Links</h3>
          <div class="footer-links">
            <ul>
              <li><a href="{% url 'user:profile' %}">My Account</a></li>
              <li><a href="{% url 'main:orders' %}">Order History</a></li>
              <li><a href="{% url 'main:coming-soon' %}">Order Tracking</a></li>
              <li><a href="{% url 'main:shop' %}">Best Seller</a></li>
              <li><a href="{% url 'main:shop' %}">New Arrivals</a></li>
            </ul>
            <ul>
              <li><a href="https://maps.google.com">Location</a></li>
              <li><a href="{% url 'main:brands' %}">Affiliates</a></li>
              <li><a href="{% url 'main:contact' %}">Contact</a></li>
              <li><a href="{% url 'main:about' %}">About Us</a></li>
              <li><a href="{% url 'main:faq' %}">Faq</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="footer-widget">
          <h3 class="footer-title">Download App</h3>
          <p class="footer-desc">Lorem ipsum dolor sit amet tenetur dignissimos ipsum eligendi autem
            obcaecati minus ducimus totam reprehenderit exercitationem!</p>
          <div class="footer-app"><a href="{% url 'main:coming-soon' %}"><img src="{% static 'main/images/google-store.png' %}" alt="google"></a><a
              href="{% url 'main:coming-soon' %}"><img src="{% static 'main/images/app-store.png' %}" alt="app"></a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer-bottom">
          <p class="footer-copytext">&copy; All Copyrights Reserved by <a target="_blank"
              href="{{greeny.link}}">{{greeny.owner}}</a></p>
          <div class="footer-card"><a href="https://paypal.com"><img src="{% static 'main/images/payment/jpg/01.jpg' %}" alt="payment"></a><a
              href="https://maestro.com"><img src="{% static 'main/images/payment/jpg/02.jpg' %}" alt="payment"></a><a href="https://discover.com"><img
                src="{% static 'main/images/payment/jpg/03.jpg' %}" alt="payment"></a><a href="https://visapayment.com"><img
                src="{% static 'main/images/payment/jpg/04.jpg' %}" alt="payment"></a></div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock origin_content %}