{% extends 'main/base.html' %}
{% load static %}

{% block main_content %}

<section class="inner-section single-banner" style="background: url(static/main/images/single-banner.jpg) no-repeat center;">
    <div class="container">
        <h2>Discount & offers</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">offer</li>
        </ol>
    </div>
</section>
<section class="inner-section offer-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card"><a href="#"><img src="{% static 'main/images/offer/01.jpg' %}" alt="offer"></a>
                    <div class="offer-div">
                        <h5 class="offer-code">RAMADAN20</h5><button class="offer-select">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card"><a href="#"><img src="{% static 'main/images/offer/02.jpg' %}" alt="offer"></a>
                    <div class="offer-div">
                        <h5 class="offer-code">RAMADAN20</h5><button class="offer-select">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card"><a href="#"><img src="{% static 'main/images/offer/03.jpg' %}" alt="offer"></a>
                    <div class="offer-div">
                        <h5 class="offer-code">RAMADAN20</h5><button class="offer-select">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card"><a href="#"><img src="{% static 'main/images/offer/04.jpg' %}" alt="offer"></a>
                    <div class="offer-div">
                        <h5 class="offer-code">RAMADAN20</h5><button class="offer-select">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card"><a href="#"><img src="{% static 'main/images/offer/05.jpg' %}" alt="offer"></a>
                    <div class="offer-div">
                        <h5 class="offer-code">RAMADAN20</h5><button class="offer-select">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card"><a href="#"><img src="{% static 'main/images/offer/06.jpg' %}" alt="offer"></a>
                    <div class="offer-div">
                        <h5 class="offer-code">RAMADAN20</h5><button class="offer-select">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card"><a href="#"><img src="{% static 'main/images/offer/07.jpg' %}" alt="offer"></a>
                    <div class="offer-div">
                        <h5 class="offer-code">RAMADAN20</h5><button class="offer-select">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card"><a href="#"><img src="{% static 'main/images/offer/08.jpg' %}" alt="offer"></a>
                    <div class="offer-div">
                        <h5 class="offer-code">RAMADAN20</h5><button class="offer-select">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card"><a href="#"><img src="{% static 'main/images/offer/09.jpg' %}" alt="offer"></a>
                    <div class="offer-div">
                        <h5 class="offer-code">RAMADAN20</h5><button class="offer-select">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card"><a href="#"><img src="{% static 'main/images/offer/10.jpg' %}" alt="offer"></a>
                    <div class="offer-div">
                        <h5 class="offer-code">RAMADAN20</h5><button class="offer-select">copy</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="offer-card"><a href="#"><img src="{% static 'main/images/offer/11.jpg' %}" alt="offer"></a>
                    <div class="offer-div">
                        <h5 class="offer-code">RAMADAN20</h5><button class="offer-select">copy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}